# Ignore Node.js related files and folders
node_modules/
package-lock.json
npm-debug.log
yarn-error.log

# Ignore built TypeScript files
dist/

# Ignore environment variables file
.env

# Ignore Docker-related files
.DS_Store

# Ignore VSCode related files
.vscode/

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore project-specific files
*.iml
*.DS_Store
.idea/
.vscode/

# Ignore OS-specific files
Thumbs.db
.DS_Store
ehthumbs.db

# Ignore Tailwind CSS build files
build/
.cache/
