/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  to {
    opacity: 80%;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
